//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package generated

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// DeploymentManagementClient contains the methods for the DeploymentManagementClient group.
// Don't use this type directly, use NewDeploymentManagementClient() instead.
type DeploymentManagementClient struct {
	endpoint string
	pl runtime.Pipeline
}

// NewDeploymentManagementClient creates a new instance of DeploymentManagementClient with the specified values.
//   - endpoint - The management endpoint of the Deployement Management service
//   - pl - the pipeline used for sending requests and handling responses.
func NewDeploymentManagementClient(endpoint string, pl runtime.Pipeline) *DeploymentManagementClient {
	client := &DeploymentManagementClient{
		endpoint: endpoint,
		pl: pl,
	}
	return client
}

// CreatEventSubscription - Registers a subscription for a particular topic
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - topic - event topic name
//   - body - Create event subscription
//   - options - DeploymentManagementClientCreatEventSubscriptionOptions contains the optional parameters for the DeploymentManagementClient.CreatEventSubscription
//     method.
func (client *DeploymentManagementClient) CreatEventSubscription(ctx context.Context, topic string, body CreateEventSubscription, options *DeploymentManagementClientCreatEventSubscriptionOptions) (DeploymentManagementClientCreatEventSubscriptionResponse, error) {
	req, err := client.creatEventSubscriptionCreateRequest(ctx, topic, body, options)
	if err != nil {
		return DeploymentManagementClientCreatEventSubscriptionResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientCreatEventSubscriptionResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusMethodNotAllowed) {
		return DeploymentManagementClientCreatEventSubscriptionResponse{}, runtime.NewResponseError(resp)
	}
	return client.creatEventSubscriptionHandleResponse(resp)
}

// creatEventSubscriptionCreateRequest creates the CreatEventSubscription request.
func (client *DeploymentManagementClient) creatEventSubscriptionCreateRequest(ctx context.Context, topic string, body CreateEventSubscription, options *DeploymentManagementClientCreatEventSubscriptionOptions) (*policy.Request, error) {
	urlPath := "/events/{topic}/subscriptions"
	if topic == "" {
		return nil, errors.New("parameter topic cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{topic}", url.PathEscape(topic))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, body)
}

// creatEventSubscriptionHandleResponse handles the CreatEventSubscription response.
func (client *DeploymentManagementClient) creatEventSubscriptionHandleResponse(resp *http.Response) (DeploymentManagementClientCreatEventSubscriptionResponse, error) {
	result := DeploymentManagementClientCreatEventSubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EventSubscription); err != nil {
		return DeploymentManagementClientCreatEventSubscriptionResponse{}, err
	}
	return result, nil
}

// CreateDeployment - Creates a new deployment instances
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - body - Deployment object that needs to be added to the store
//   - options - DeploymentManagementClientCreateDeploymentOptions contains the optional parameters for the DeploymentManagementClient.CreateDeployment
//     method.
func (client *DeploymentManagementClient) CreateDeployment(ctx context.Context, body CreateDeployment, options *DeploymentManagementClientCreateDeploymentOptions) (DeploymentManagementClientCreateDeploymentResponse, error) {
	req, err := client.createDeploymentCreateRequest(ctx, body, options)
	if err != nil {
		return DeploymentManagementClientCreateDeploymentResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientCreateDeploymentResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusMethodNotAllowed) {
		return DeploymentManagementClientCreateDeploymentResponse{}, runtime.NewResponseError(resp)
	}
	return DeploymentManagementClientCreateDeploymentResponse{}, nil
}

// createDeploymentCreateRequest creates the CreateDeployment request.
func (client *DeploymentManagementClient) createDeploymentCreateRequest(ctx context.Context, body CreateDeployment, options *DeploymentManagementClientCreateDeploymentOptions) (*policy.Request, error) {
	urlPath := "/deployments"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	return req, runtime.MarshalAsJSON(req, body)
}

// DeleteEventSubscription - Deletes a subscription to an even topic
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - subscriptionID - ID of subscription
//   - options - DeploymentManagementClientDeleteEventSubscriptionOptions contains the optional parameters for the DeploymentManagementClient.DeleteEventSubscription
//     method.
func (client *DeploymentManagementClient) DeleteEventSubscription(ctx context.Context, subscriptionID string, options *DeploymentManagementClientDeleteEventSubscriptionOptions) (DeploymentManagementClientDeleteEventSubscriptionResponse, error) {
	req, err := client.deleteEventSubscriptionCreateRequest(ctx, subscriptionID, options)
	if err != nil {
		return DeploymentManagementClientDeleteEventSubscriptionResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientDeleteEventSubscriptionResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusBadRequest, http.StatusNotFound) {
		return DeploymentManagementClientDeleteEventSubscriptionResponse{}, runtime.NewResponseError(resp)
	}
	return DeploymentManagementClientDeleteEventSubscriptionResponse{}, nil
}

// deleteEventSubscriptionCreateRequest creates the DeleteEventSubscription request.
func (client *DeploymentManagementClient) deleteEventSubscriptionCreateRequest(ctx context.Context, subscriptionID string, options *DeploymentManagementClientDeleteEventSubscriptionOptions) (*policy.Request, error) {
	urlPath := "/events/subscriptions/{subscriptionId}"
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	return req, nil
}

// GetDeployment - Returns a single deployment
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - deploymentID - ID of deployment to return
//   - options - DeploymentManagementClientGetDeploymentOptions contains the optional parameters for the DeploymentManagementClient.GetDeployment
//     method.
func (client *DeploymentManagementClient) GetDeployment(ctx context.Context, deploymentID int64, options *DeploymentManagementClientGetDeploymentOptions) (DeploymentManagementClientGetDeploymentResponse, error) {
	req, err := client.getDeploymentCreateRequest(ctx, deploymentID, options)
	if err != nil {
		return DeploymentManagementClientGetDeploymentResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientGetDeploymentResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusBadRequest, http.StatusNotFound) {
		return DeploymentManagementClientGetDeploymentResponse{}, runtime.NewResponseError(resp)
	}
	return client.getDeploymentHandleResponse(resp)
}

// getDeploymentCreateRequest creates the GetDeployment request.
func (client *DeploymentManagementClient) getDeploymentCreateRequest(ctx context.Context, deploymentID int64, options *DeploymentManagementClientGetDeploymentOptions) (*policy.Request, error) {
	urlPath := "/deployments/{deploymentId}"
	urlPath = strings.ReplaceAll(urlPath, "{deploymentId}", url.PathEscape(strconv.FormatInt(deploymentID, 10)))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getDeploymentHandleResponse handles the GetDeployment response.
func (client *DeploymentManagementClient) getDeploymentHandleResponse(resp *http.Response) (DeploymentManagementClientGetDeploymentResponse, error) {
	result := DeploymentManagementClientGetDeploymentResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Deployment); err != nil {
		return DeploymentManagementClientGetDeploymentResponse{}, err
	}
	return result, nil
}

// GetDeploymentOperation - Gets the state of a command operation that's been invoked
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - operationID - ID of the triggered operation
//   - options - DeploymentManagementClientGetDeploymentOperationOptions contains the optional parameters for the DeploymentManagementClient.GetDeploymentOperation
//     method.
func (client *DeploymentManagementClient) GetDeploymentOperation(ctx context.Context, operationID string, options *DeploymentManagementClientGetDeploymentOperationOptions) (DeploymentManagementClientGetDeploymentOperationResponse, error) {
	req, err := client.getDeploymentOperationCreateRequest(ctx, operationID, options)
	if err != nil {
		return DeploymentManagementClientGetDeploymentOperationResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientGetDeploymentOperationResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DeploymentManagementClientGetDeploymentOperationResponse{}, runtime.NewResponseError(resp)
	}
	return client.getDeploymentOperationHandleResponse(resp)
}

// getDeploymentOperationCreateRequest creates the GetDeploymentOperation request.
func (client *DeploymentManagementClient) getDeploymentOperationCreateRequest(ctx context.Context, operationID string, options *DeploymentManagementClientGetDeploymentOperationOptions) (*policy.Request, error) {
	urlPath := "/operations/{operationId}"
	urlPath = strings.ReplaceAll(urlPath, "{operationId}", url.PathEscape(operationID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getDeploymentOperationHandleResponse handles the GetDeploymentOperation response.
func (client *DeploymentManagementClient) getDeploymentOperationHandleResponse(resp *http.Response) (DeploymentManagementClientGetDeploymentOperationResponse, error) {
	result := DeploymentManagementClientGetDeploymentOperationResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.InvokedOperation); err != nil {
		return DeploymentManagementClientGetDeploymentOperationResponse{}, err
	}
	return result, nil
}

// GetEventSubscription - Gets a subscription to an even topic
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - subscriptionID - ID of subscription
//   - options - DeploymentManagementClientGetEventSubscriptionOptions contains the optional parameters for the DeploymentManagementClient.GetEventSubscription
//     method.
func (client *DeploymentManagementClient) GetEventSubscription(ctx context.Context, subscriptionID string, options *DeploymentManagementClientGetEventSubscriptionOptions) (DeploymentManagementClientGetEventSubscriptionResponse, error) {
	req, err := client.getEventSubscriptionCreateRequest(ctx, subscriptionID, options)
	if err != nil {
		return DeploymentManagementClientGetEventSubscriptionResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientGetEventSubscriptionResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusBadRequest, http.StatusNotFound) {
		return DeploymentManagementClientGetEventSubscriptionResponse{}, runtime.NewResponseError(resp)
	}
	return client.getEventSubscriptionHandleResponse(resp)
}

// getEventSubscriptionCreateRequest creates the GetEventSubscription request.
func (client *DeploymentManagementClient) getEventSubscriptionCreateRequest(ctx context.Context, subscriptionID string, options *DeploymentManagementClientGetEventSubscriptionOptions) (*policy.Request, error) {
	urlPath := "/events/subscriptions/{subscriptionId}"
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getEventSubscriptionHandleResponse handles the GetEventSubscription response.
func (client *DeploymentManagementClient) getEventSubscriptionHandleResponse(resp *http.Response) (DeploymentManagementClientGetEventSubscriptionResponse, error) {
	result := DeploymentManagementClientGetEventSubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EventSubscription); err != nil {
		return DeploymentManagementClientGetEventSubscriptionResponse{}, err
	}
	return result, nil
}

// GetEvents - Returns a list of available operations that can be performed on a deployment
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - options - DeploymentManagementClientGetEventsOptions contains the optional parameters for the DeploymentManagementClient.GetEvents
//     method.
func (client *DeploymentManagementClient) GetEvents(ctx context.Context, options *DeploymentManagementClientGetEventsOptions) (DeploymentManagementClientGetEventsResponse, error) {
	req, err := client.getEventsCreateRequest(ctx, options)
	if err != nil {
		return DeploymentManagementClientGetEventsResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientGetEventsResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DeploymentManagementClientGetEventsResponse{}, runtime.NewResponseError(resp)
	}
	return client.getEventsHandleResponse(resp)
}

// getEventsCreateRequest creates the GetEvents request.
func (client *DeploymentManagementClient) getEventsCreateRequest(ctx context.Context, options *DeploymentManagementClientGetEventsOptions) (*policy.Request, error) {
	urlPath := "/events"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getEventsHandleResponse handles the GetEvents response.
func (client *DeploymentManagementClient) getEventsHandleResponse(resp *http.Response) (DeploymentManagementClientGetEventsResponse, error) {
	result := DeploymentManagementClientGetEventsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EventArray); err != nil {
		return DeploymentManagementClientGetEventsResponse{}, err
	}
	return result, nil
}

// InvokeOperation - Invokes a deployment operation with parameters
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - deploymentID - ID of deployment
//   - body - Deployment operation invocation
//   - options - DeploymentManagementClientInvokeOperationOptions contains the optional parameters for the DeploymentManagementClient.InvokeOperation
//     method.
func (client *DeploymentManagementClient) InvokeOperation(ctx context.Context, deploymentID int64, body InvokeDeploymentOperation, options *DeploymentManagementClientInvokeOperationOptions) (DeploymentManagementClientInvokeOperationResponse, error) {
	req, err := client.invokeOperationCreateRequest(ctx, deploymentID, body, options)
	if err != nil {
		return DeploymentManagementClientInvokeOperationResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientInvokeOperationResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DeploymentManagementClientInvokeOperationResponse{}, runtime.NewResponseError(resp)
	}
	return client.invokeOperationHandleResponse(resp)
}

// invokeOperationCreateRequest creates the InvokeOperation request.
func (client *DeploymentManagementClient) invokeOperationCreateRequest(ctx context.Context, deploymentID int64, body InvokeDeploymentOperation, options *DeploymentManagementClientInvokeOperationOptions) (*policy.Request, error) {
	urlPath := "/deployment/{deploymentId}/operation"
	urlPath = strings.ReplaceAll(urlPath, "{deploymentId}", url.PathEscape(strconv.FormatInt(deploymentID, 10)))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, body)
}

// invokeOperationHandleResponse handles the InvokeOperation response.
func (client *DeploymentManagementClient) invokeOperationHandleResponse(resp *http.Response) (DeploymentManagementClientInvokeOperationResponse, error) {
	result := DeploymentManagementClientInvokeOperationResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.InvokedOperation); err != nil {
		return DeploymentManagementClientInvokeOperationResponse{}, err
	}
	return result, nil
}

// ListDeployments - List all deployments
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - options - DeploymentManagementClientListDeploymentsOptions contains the optional parameters for the DeploymentManagementClient.ListDeployments
//     method.
func (client *DeploymentManagementClient) ListDeployments(ctx context.Context, options *DeploymentManagementClientListDeploymentsOptions) (DeploymentManagementClientListDeploymentsResponse, error) {
	req, err := client.listDeploymentsCreateRequest(ctx, options)
	if err != nil {
		return DeploymentManagementClientListDeploymentsResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientListDeploymentsResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DeploymentManagementClientListDeploymentsResponse{}, runtime.NewResponseError(resp)
	}
	return client.listDeploymentsHandleResponse(resp)
}

// listDeploymentsCreateRequest creates the ListDeployments request.
func (client *DeploymentManagementClient) listDeploymentsCreateRequest(ctx context.Context, options *DeploymentManagementClientListDeploymentsOptions) (*policy.Request, error) {
	urlPath := "/deployments"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Status != nil {
			for _, qv := range options.Status {
		reqQP.Add("status", string(qv))
	}
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listDeploymentsHandleResponse handles the ListDeployments response.
func (client *DeploymentManagementClient) listDeploymentsHandleResponse(resp *http.Response) (DeploymentManagementClientListDeploymentsResponse, error) {
	result := DeploymentManagementClientListDeploymentsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DeploymentArray); err != nil {
		return DeploymentManagementClientListDeploymentsResponse{}, err
	}
	return result, nil
}

// ListEventSubscriptions - List all subscriptions for an event topic
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - topic - event topic name
//   - options - DeploymentManagementClientListEventSubscriptionsOptions contains the optional parameters for the DeploymentManagementClient.ListEventSubscriptions
//     method.
func (client *DeploymentManagementClient) ListEventSubscriptions(ctx context.Context, topic string, options *DeploymentManagementClientListEventSubscriptionsOptions) (DeploymentManagementClientListEventSubscriptionsResponse, error) {
	req, err := client.listEventSubscriptionsCreateRequest(ctx, topic, options)
	if err != nil {
		return DeploymentManagementClientListEventSubscriptionsResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientListEventSubscriptionsResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusBadRequest, http.StatusNotFound) {
		return DeploymentManagementClientListEventSubscriptionsResponse{}, runtime.NewResponseError(resp)
	}
	return client.listEventSubscriptionsHandleResponse(resp)
}

// listEventSubscriptionsCreateRequest creates the ListEventSubscriptions request.
func (client *DeploymentManagementClient) listEventSubscriptionsCreateRequest(ctx context.Context, topic string, options *DeploymentManagementClientListEventSubscriptionsOptions) (*policy.Request, error) {
	urlPath := "/events/{topic}/subscriptions"
	if topic == "" {
		return nil, errors.New("parameter topic cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{topic}", url.PathEscape(topic))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listEventSubscriptionsHandleResponse handles the ListEventSubscriptions response.
func (client *DeploymentManagementClient) listEventSubscriptionsHandleResponse(resp *http.Response) (DeploymentManagementClientListEventSubscriptionsResponse, error) {
	result := DeploymentManagementClientListEventSubscriptionsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EventSubscriptionArray); err != nil {
		return DeploymentManagementClientListEventSubscriptionsResponse{}, err
	}
	return result, nil
}

// ListOperations - Returns a list of available operations that can be performed on a deployment
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - options - DeploymentManagementClientListOperationsOptions contains the optional parameters for the DeploymentManagementClient.ListOperations
//     method.
func (client *DeploymentManagementClient) ListOperations(ctx context.Context, options *DeploymentManagementClientListOperationsOptions) (DeploymentManagementClientListOperationsResponse, error) {
	req, err := client.listOperationsCreateRequest(ctx, options)
	if err != nil {
		return DeploymentManagementClientListOperationsResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientListOperationsResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DeploymentManagementClientListOperationsResponse{}, runtime.NewResponseError(resp)
	}
	return client.listOperationsHandleResponse(resp)
}

// listOperationsCreateRequest creates the ListOperations request.
func (client *DeploymentManagementClient) listOperationsCreateRequest(ctx context.Context, options *DeploymentManagementClientListOperationsOptions) (*policy.Request, error) {
	urlPath := "/operations"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listOperationsHandleResponse handles the ListOperations response.
func (client *DeploymentManagementClient) listOperationsHandleResponse(resp *http.Response) (DeploymentManagementClientListOperationsResponse, error) {
	result := DeploymentManagementClientListOperationsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OperationArray); err != nil {
		return DeploymentManagementClientListOperationsResponse{}, err
	}
	return result, nil
}

// UpdateDeployment - Update an existing deployment
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - body - Deployment object that needs to be added to the store
//   - options - DeploymentManagementClientUpdateDeploymentOptions contains the optional parameters for the DeploymentManagementClient.UpdateDeployment
//     method.
func (client *DeploymentManagementClient) UpdateDeployment(ctx context.Context, body Deployment, options *DeploymentManagementClientUpdateDeploymentOptions) (DeploymentManagementClientUpdateDeploymentResponse, error) {
	req, err := client.updateDeploymentCreateRequest(ctx, body, options)
	if err != nil {
		return DeploymentManagementClientUpdateDeploymentResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientUpdateDeploymentResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusBadRequest, http.StatusNotFound, http.StatusMethodNotAllowed) {
		return DeploymentManagementClientUpdateDeploymentResponse{}, runtime.NewResponseError(resp)
	}
	return DeploymentManagementClientUpdateDeploymentResponse{}, nil
}

// updateDeploymentCreateRequest creates the UpdateDeployment request.
func (client *DeploymentManagementClient) updateDeploymentCreateRequest(ctx context.Context, body Deployment, options *DeploymentManagementClientUpdateDeploymentOptions) (*policy.Request, error) {
	urlPath := "/deployments"
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	return req, runtime.MarshalAsJSON(req, body)
}

