//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package generated

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// DeploymentManagementClient contains the methods for the DeploymentManagementClient group.
// Don't use this type directly, use NewDeploymentManagementClient() instead.
type DeploymentManagementClient struct {
	endpoint string
	pl runtime.Pipeline
}

// NewDeploymentManagementClient creates a new instance of DeploymentManagementClient with the specified values.
//   - endpoint - The management endpoint of the Deployement Management service
//   - pl - the pipeline used for sending requests and handling responses.
func NewDeploymentManagementClient(endpoint string, pl runtime.Pipeline) *DeploymentManagementClient {
	client := &DeploymentManagementClient{
		endpoint: endpoint,
		pl: pl,
	}
	return client
}

// AddDeployment - Add a new deployment to the deployment
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - body - Deployment object that needs to be added to the store
//   - options - DeploymentManagementClientAddDeploymentOptions contains the optional parameters for the DeploymentManagementClient.AddDeployment
//     method.
func (client *DeploymentManagementClient) AddDeployment(ctx context.Context, body Deployment, options *DeploymentManagementClientAddDeploymentOptions) (DeploymentManagementClientAddDeploymentResponse, error) {
	req, err := client.addDeploymentCreateRequest(ctx, body, options)
	if err != nil {
		return DeploymentManagementClientAddDeploymentResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientAddDeploymentResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusMethodNotAllowed) {
		return DeploymentManagementClientAddDeploymentResponse{}, runtime.NewResponseError(resp)
	}
	return DeploymentManagementClientAddDeploymentResponse{}, nil
}

// addDeploymentCreateRequest creates the AddDeployment request.
func (client *DeploymentManagementClient) addDeploymentCreateRequest(ctx context.Context, body Deployment, options *DeploymentManagementClientAddDeploymentOptions) (*policy.Request, error) {
	urlPath := "/deployments"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	return req, runtime.MarshalAsJSON(req, body)
}

// GetDeployment - Returns a single deployment
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - deploymentID - ID of deployment to return
//   - options - DeploymentManagementClientGetDeploymentOptions contains the optional parameters for the DeploymentManagementClient.GetDeployment
//     method.
func (client *DeploymentManagementClient) GetDeployment(ctx context.Context, deploymentID int64, options *DeploymentManagementClientGetDeploymentOptions) (DeploymentManagementClientGetDeploymentResponse, error) {
	req, err := client.getDeploymentCreateRequest(ctx, deploymentID, options)
	if err != nil {
		return DeploymentManagementClientGetDeploymentResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientGetDeploymentResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusBadRequest, http.StatusNotFound) {
		return DeploymentManagementClientGetDeploymentResponse{}, runtime.NewResponseError(resp)
	}
	return client.getDeploymentHandleResponse(resp)
}

// getDeploymentCreateRequest creates the GetDeployment request.
func (client *DeploymentManagementClient) getDeploymentCreateRequest(ctx context.Context, deploymentID int64, options *DeploymentManagementClientGetDeploymentOptions) (*policy.Request, error) {
	urlPath := "/deployments/{deploymentId}"
	urlPath = strings.ReplaceAll(urlPath, "{deploymentId}", url.PathEscape(strconv.FormatInt(deploymentID, 10)))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getDeploymentHandleResponse handles the GetDeployment response.
func (client *DeploymentManagementClient) getDeploymentHandleResponse(resp *http.Response) (DeploymentManagementClientGetDeploymentResponse, error) {
	result := DeploymentManagementClientGetDeploymentResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Deployment); err != nil {
		return DeploymentManagementClientGetDeploymentResponse{}, err
	}
	return result, nil
}

// GetDeploymentOperation - Gets the state of a command operation that's been triggered
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - operationID - ID of the triggered operation
//   - options - DeploymentManagementClientGetDeploymentOperationOptions contains the optional parameters for the DeploymentManagementClient.GetDeploymentOperation
//     method.
func (client *DeploymentManagementClient) GetDeploymentOperation(ctx context.Context, operationID string, options *DeploymentManagementClientGetDeploymentOperationOptions) (DeploymentManagementClientGetDeploymentOperationResponse, error) {
	req, err := client.getDeploymentOperationCreateRequest(ctx, operationID, options)
	if err != nil {
		return DeploymentManagementClientGetDeploymentOperationResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientGetDeploymentOperationResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DeploymentManagementClientGetDeploymentOperationResponse{}, runtime.NewResponseError(resp)
	}
	return client.getDeploymentOperationHandleResponse(resp)
}

// getDeploymentOperationCreateRequest creates the GetDeploymentOperation request.
func (client *DeploymentManagementClient) getDeploymentOperationCreateRequest(ctx context.Context, operationID string, options *DeploymentManagementClientGetDeploymentOperationOptions) (*policy.Request, error) {
	urlPath := "/operations/{operationId}"
	urlPath = strings.ReplaceAll(urlPath, "{operationId}", url.PathEscape(operationID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getDeploymentOperationHandleResponse handles the GetDeploymentOperation response.
func (client *DeploymentManagementClient) getDeploymentOperationHandleResponse(resp *http.Response) (DeploymentManagementClientGetDeploymentOperationResponse, error) {
	result := DeploymentManagementClientGetDeploymentOperationResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DeploymentOperation); err != nil {
		return DeploymentManagementClientGetDeploymentOperationResponse{}, err
	}
	return result, nil
}

// GetEvents - Returns a list of available operations that can be performed on a deployment
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - options - DeploymentManagementClientGetEventsOptions contains the optional parameters for the DeploymentManagementClient.GetEvents
//     method.
func (client *DeploymentManagementClient) GetEvents(ctx context.Context, options *DeploymentManagementClientGetEventsOptions) (DeploymentManagementClientGetEventsResponse, error) {
	req, err := client.getEventsCreateRequest(ctx, options)
	if err != nil {
		return DeploymentManagementClientGetEventsResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientGetEventsResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DeploymentManagementClientGetEventsResponse{}, runtime.NewResponseError(resp)
	}
	return client.getEventsHandleResponse(resp)
}

// getEventsCreateRequest creates the GetEvents request.
func (client *DeploymentManagementClient) getEventsCreateRequest(ctx context.Context, options *DeploymentManagementClientGetEventsOptions) (*policy.Request, error) {
	urlPath := "/events"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getEventsHandleResponse handles the GetEvents response.
func (client *DeploymentManagementClient) getEventsHandleResponse(resp *http.Response) (DeploymentManagementClientGetEventsResponse, error) {
	result := DeploymentManagementClientGetEventsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EventArray); err != nil {
		return DeploymentManagementClientGetEventsResponse{}, err
	}
	return result, nil
}

// InvokeDeploymentOperation - Invokes a command operation with parameters for a deployment
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - deploymentID - ID of deployment to return
//   - body - Deployment operation trigger
//   - options - DeploymentManagementClientInvokeDeploymentOperationOptions contains the optional parameters for the DeploymentManagementClient.InvokeDeploymentOperation
//     method.
func (client *DeploymentManagementClient) InvokeDeploymentOperation(ctx context.Context, deploymentID int64, body InvokeDeploymentOperation, options *DeploymentManagementClientInvokeDeploymentOperationOptions) (DeploymentManagementClientInvokeDeploymentOperationResponse, error) {
	req, err := client.invokeDeploymentOperationCreateRequest(ctx, deploymentID, body, options)
	if err != nil {
		return DeploymentManagementClientInvokeDeploymentOperationResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientInvokeDeploymentOperationResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DeploymentManagementClientInvokeDeploymentOperationResponse{}, runtime.NewResponseError(resp)
	}
	return client.invokeDeploymentOperationHandleResponse(resp)
}

// invokeDeploymentOperationCreateRequest creates the InvokeDeploymentOperation request.
func (client *DeploymentManagementClient) invokeDeploymentOperationCreateRequest(ctx context.Context, deploymentID int64, body InvokeDeploymentOperation, options *DeploymentManagementClientInvokeDeploymentOperationOptions) (*policy.Request, error) {
	urlPath := "/deployments/{deploymentId}/operations"
	urlPath = strings.ReplaceAll(urlPath, "{deploymentId}", url.PathEscape(strconv.FormatInt(deploymentID, 10)))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, body)
}

// invokeDeploymentOperationHandleResponse handles the InvokeDeploymentOperation response.
func (client *DeploymentManagementClient) invokeDeploymentOperationHandleResponse(resp *http.Response) (DeploymentManagementClientInvokeDeploymentOperationResponse, error) {
	result := DeploymentManagementClientInvokeDeploymentOperationResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.InvokeDeploymentOperationResult); err != nil {
		return DeploymentManagementClientInvokeDeploymentOperationResponse{}, err
	}
	return result, nil
}

// ListDeployments - List all deployments
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - options - DeploymentManagementClientListDeploymentsOptions contains the optional parameters for the DeploymentManagementClient.ListDeployments
//     method.
func (client *DeploymentManagementClient) ListDeployments(ctx context.Context, options *DeploymentManagementClientListDeploymentsOptions) (DeploymentManagementClientListDeploymentsResponse, error) {
	req, err := client.listDeploymentsCreateRequest(ctx, options)
	if err != nil {
		return DeploymentManagementClientListDeploymentsResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientListDeploymentsResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DeploymentManagementClientListDeploymentsResponse{}, runtime.NewResponseError(resp)
	}
	return client.listDeploymentsHandleResponse(resp)
}

// listDeploymentsCreateRequest creates the ListDeployments request.
func (client *DeploymentManagementClient) listDeploymentsCreateRequest(ctx context.Context, options *DeploymentManagementClientListDeploymentsOptions) (*policy.Request, error) {
	urlPath := "/deployments"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Status != nil {
			for _, qv := range options.Status {
		reqQP.Add("status", string(qv))
	}
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listDeploymentsHandleResponse handles the ListDeployments response.
func (client *DeploymentManagementClient) listDeploymentsHandleResponse(resp *http.Response) (DeploymentManagementClientListDeploymentsResponse, error) {
	result := DeploymentManagementClientListDeploymentsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DeploymentArray); err != nil {
		return DeploymentManagementClientListDeploymentsResponse{}, err
	}
	return result, nil
}

// ListOperations - Returns a list of available operations that can be performed on a deployment
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - options - DeploymentManagementClientListOperationsOptions contains the optional parameters for the DeploymentManagementClient.ListOperations
//     method.
func (client *DeploymentManagementClient) ListOperations(ctx context.Context, options *DeploymentManagementClientListOperationsOptions) (DeploymentManagementClientListOperationsResponse, error) {
	req, err := client.listOperationsCreateRequest(ctx, options)
	if err != nil {
		return DeploymentManagementClientListOperationsResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientListOperationsResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DeploymentManagementClientListOperationsResponse{}, runtime.NewResponseError(resp)
	}
	return client.listOperationsHandleResponse(resp)
}

// listOperationsCreateRequest creates the ListOperations request.
func (client *DeploymentManagementClient) listOperationsCreateRequest(ctx context.Context, options *DeploymentManagementClientListOperationsOptions) (*policy.Request, error) {
	urlPath := "/operations"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listOperationsHandleResponse handles the ListOperations response.
func (client *DeploymentManagementClient) listOperationsHandleResponse(resp *http.Response) (DeploymentManagementClientListOperationsResponse, error) {
	result := DeploymentManagementClientListOperationsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AvailableDeploymentOperationArray); err != nil {
		return DeploymentManagementClientListOperationsResponse{}, err
	}
	return result, nil
}

// RegisterEventSubscription - Registers a subscription for a particular topic
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - body - Deployment object that needs to be added to the store
//   - options - DeploymentManagementClientRegisterEventSubscriptionOptions contains the optional parameters for the DeploymentManagementClient.RegisterEventSubscription
//     method.
func (client *DeploymentManagementClient) RegisterEventSubscription(ctx context.Context, body EventSubscription, options *DeploymentManagementClientRegisterEventSubscriptionOptions) (DeploymentManagementClientRegisterEventSubscriptionResponse, error) {
	req, err := client.registerEventSubscriptionCreateRequest(ctx, body, options)
	if err != nil {
		return DeploymentManagementClientRegisterEventSubscriptionResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientRegisterEventSubscriptionResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusMethodNotAllowed) {
		return DeploymentManagementClientRegisterEventSubscriptionResponse{}, runtime.NewResponseError(resp)
	}
	return DeploymentManagementClientRegisterEventSubscriptionResponse{}, nil
}

// registerEventSubscriptionCreateRequest creates the RegisterEventSubscription request.
func (client *DeploymentManagementClient) registerEventSubscriptionCreateRequest(ctx context.Context, body EventSubscription, options *DeploymentManagementClientRegisterEventSubscriptionOptions) (*policy.Request, error) {
	urlPath := "/events/subscriptions"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	return req, runtime.MarshalAsJSON(req, body)
}

// UpdateDeployment - Update an existing deployment
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 0.1.0
//   - body - Deployment object that needs to be added to the store
//   - options - DeploymentManagementClientUpdateDeploymentOptions contains the optional parameters for the DeploymentManagementClient.UpdateDeployment
//     method.
func (client *DeploymentManagementClient) UpdateDeployment(ctx context.Context, body Deployment, options *DeploymentManagementClientUpdateDeploymentOptions) (DeploymentManagementClientUpdateDeploymentResponse, error) {
	req, err := client.updateDeploymentCreateRequest(ctx, body, options)
	if err != nil {
		return DeploymentManagementClientUpdateDeploymentResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentManagementClientUpdateDeploymentResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusBadRequest, http.StatusNotFound, http.StatusMethodNotAllowed) {
		return DeploymentManagementClientUpdateDeploymentResponse{}, runtime.NewResponseError(resp)
	}
	return DeploymentManagementClientUpdateDeploymentResponse{}, nil
}

// updateDeploymentCreateRequest creates the UpdateDeployment request.
func (client *DeploymentManagementClient) updateDeploymentCreateRequest(ctx context.Context, body Deployment, options *DeploymentManagementClientUpdateDeploymentOptions) (*policy.Request, error) {
	urlPath := "/deployments"
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	return req, runtime.MarshalAsJSON(req, body)
}

