table {
    tbody {
        overflow: auto;
        height:  700px;
    }
    tbody, thead {
        display: block;;
    }
}

.fixTableHead {
    overflow-y: auto;
    height: 110px;
  }
  .fixTableHead thead th {
    position: sticky;
    top: 0;
  }
  table {
    border-collapse: collapse;        
    width: 100%;
  }
  th,
  td {
    padding: 8px 15px;
    border: 2px solid #529432;
  }
  th {
    background: #ABDD93;
  }