[MASTER]
ignore-patterns=test_*,conftest,setup
reports=no

# PYLINT DIRECTORY BLACKLIST.
ignore-paths=
    # Exclude any path that contains the following directory names
    (?:.*[/\\]|^)(?:_vendor|_generated|_restclient|samples|examples|test|tests|doc|\.tox)(?:[/\\]|$)

disable=
    C0116, # Missing function or method docstring (missing-function-docstring)
    C0115, # Missing class docstring (missing-class-docstring)
    C0411, # standard import "import <module>" should be placed before "from <module> import ..."
    C0412, # Imports from package <module> are not grouped
    C0114, # Missing module docstring (missing-module-docstring)
    R0903, # Too few public methods (0/2) (too-few-public-methods)

[MESSAGES CONTROL]
# For all codes, run 'pylint --list-msgs' or go to 'https://pylint.pycqa.org/en/latest/technical_reference/features.html'
# locally-disabled: Warning locally suppressed using disable-msg
# cyclic-import: because of https://github.com/PyCQA/pylint/issues/850
# too-many-arguments: Due to the nature of the CLI many commands have large arguments set which reflect in large arguments set in corresponding methods.
# Let's black deal with bad-continuation

[FORMAT]
max-line-length=150

[VARIABLES]
# Tells whether we should check for unused import in __init__ files.
init-import=yes

[DESIGN]
# Maximum number of locals for function / method body
max-locals=25
# Maximum number of branch for function / method body
max-branches=20
# Maximum number of instance attributes for class
max-attributes=10
# Maximum number of ancestors
max-parents=15

[SIMILARITIES]
min-similarity-lines=10

[BASIC]
# Naming hints based on PEP 8 (https://www.python.org/dev/peps/pep-0008/#naming-conventions).
# Consider these guidelines and not hard rules. Read PEP 8 for more details.

# The invalid-name checker must be **enabled** for these hints to be used.
include-naming-hint=yes

module-naming-style=snake_case
const-naming-style=UPPER_CASE
class-naming-style=PascalCase
class-attribute-naming-style=snake_case
attr-naming-style=snake_case
method-naming-style=snake_case
function-naming-style=snake_case
argument-naming-style=snake_case
variable-naming-style=snake_case
inlinevar-naming-style=snake_case

[TYPECHECK]
generated-members=js.*