{
	# Global options block. Entirely optional, https is on by default
	# Optional email key for lets encrypt
	email {$ACME_ACCOUNT_EMAIL}
	# Optional staging lets encrypt for testing. Comment out for production.
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

{$MODM_SITE_URL} {
	reverse_proxy http://{$MODM_LOCAL_HOSTNAME}:{$MODM_LOCAL_PORT}
}
