.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-size: cover;
  }
  
  .login-logo {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .login-logo img {
    width: 100px; /* Adjust as needed */
    margin-bottom: 10px;
  }
  
  .login-form {
    width: 25%; /* Adjust as needed */
    min-width: 350px;
    padding: 3em;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #003d82;
  }

  .login-error {
    color: red;
    margin-bottom: 10px; 
  }
  
  .login-instructions {
    margin-top: 20px;
    padding: 15px;
    background-color: #f3f2f1; /* Light grey background */
    border: 1px solid #edebe9; /* Slightly darker grey border */
    border-radius: 4px;
  }
  
  .login-instructions p {
    margin-bottom: 5px;
  }
  
  .login-instructions ol {
    margin-top: 0;
    padding-left: 20px;
  }
  