$primary-color: #004480;
$body-bg-color: #f7f7f7;
//$body-bg-color: #004480;
//$primary-color: #f7f7f7;
$container-bg-color: #f7f7f7;
$color-code-1: #f7f7f7;
$color-code-2: #ffffff;
$color-code-3: #00000033;
$color-code-4: #00000000;
$color-code-5: #165640;
$color-code-6: #c3c3c3;
$color-code-7: #8888882b;
$color-code-8: #bfbfbf;
$color-code-9: #00000010;
$color-code-10: #ffffff00;
$color-code-11: #e8ecef;
$color-code-12: #000000;
$color-code-13: #414141;
$color-code-14: #9a9b9c;
$color-code-15: #212121;
$color-code-16: #f0ab00;
$color-code-17: #d8d8d8;
$color-code-18: #ffab2b;
$color-code-19: #e2e2e2;
$color-code-20: #004d38;
$color-code-21: #00000029;
$color-code-22: #f5002f;
$color-code-23: #B5B5B5;
$color-code-24:#e2e2e27e